html, body {
	padding: 0; margin: 0; box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	background: rgb(249, 249, 249);

}




.topLine {
	position: fixed;
	background: black;
	height: 63px;
	width: 100%;
	line-height: 63px;
	color: white;
	padding-left: 40px;
}


.mainWrap {
	padding: 63px 40px 10px;

}

.nameLine {
	font-size: 24px;
	line-height: 60px;
	font-weight: bold;
}

.mainContent {
	background: white;
	
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}


.controls {
	padding: 10px 15px 0;
	border-bottom: solid 2px #ddd;
	background: #f6f8fa;
}

.controls label {
	font-size: 13px; font-weight: bold;
}

#search_str {
	line-height: 30px;
	border-radius: 15px;
	border: solid 1px #ccc;
	font-size: 20px;
	margin: 10px 10px 20px;
	display: inline-block;
	padding: 0 10px;
}

.controls select {
	display: inline-block;
	height: 27px;
}


#collapseCtrl {
	border-radius: 5px;
	color: white;
	background: #555;
	line-height: 25px;
	display: inline-block;
	padding: 0 10px;
	margin-left: 20px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	text-transform: uppercase;
	cursor: pointer;
}


#canvas {
	
	background: white;
}



#chartHeader {
	height: 70px;
	border-bottom: solid 5px #ccc;
	
	padding-top: 10px;

}

#chartHeader .data_col {
	background: white;
	margin: 5px 0;
	padding: 8px 8px 0 ;
	box-sizing: border-box;
	text-align: center;
}

#chartHeader .date {
	font-size: 11px;
	font-style: italic;
	padding-bottom: 5px;
}

#chartHeader .headerScore {
	font-size: 20px;
	line-height: 25px;
	font-weight: bold;
	font-style: normal;
}


#innerCanvas {
	padding-top: 10px;
	border: solid 1px #ccc;
	overflow: auto;
}


.reccap_section {
/*	margin-bottom: 40px;*/
}

.reccap_section .header {
	height: 40px;
	line-height: 40px;
	border-top: solid 1px #ccc;
	cursor: pointer;
/*	overflow: hidden;*/
}

.reccap_section:first-child .header {
	border-top: none;
}



.reccap_section .headerScore {
	font-size: 16px;
	line-height: 40px;
	font-weight: bold;
	font-style: normal;
	text-align: center;
}
.low {
	color: red;
}
.med {
	color: #aaa;
}
.high {
	color: green;
}






.reccap_section .body {
	display: block;
}

.reccap_section .header .col1 {
	font-weight: bold;
	font-size: 16px;
}
.reccap_section .header .date {
	font-size: 12px;
	font-style: italic;
	
}

.reccap_section .row {
	height: 40px;
	line-height: 40px;
}

.reccap_section .row:last-child {
	margin-bottom: 40px;
}


.reccap_section .row .low {
	background: red;
}

.reccap_section .row .med {
	background: #555;
}


.reccap_section .row .high {
	background: green;
}

.reccap_section .row .col1 {
	font-size: 14px;
}


.reccap_section .row .btn {
	border-radius: 5px;
	color: white;
	line-height: 20px;
	display: inline-block;
	
	width: 60px;
	text-align: center;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	text-transform: uppercase;
}







.col1 {
	width: 500px;
	padding-left: 10px;
	float: left;
}

.data_col {
	width: 100px;
	float: left;
	font-size: 12px;
	text-align: center;
}